* {
    margin: 0;
}

.clear {
    clear: both;
}

.character-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.container-characters {
    width: 60%;
    height: 80vh;
    overflow-x: hidden;
    overflow-x: auto;

}

.build-type-selection {
    width: 100%;
    align-self: center;
}

.build-type-container {
    width: 100%;
align-self: center;
}



.cs-how {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 40%;
    height: 500px;
    padding-left: 10px;
    color: white;

    height: 80vh;
}

.cs-how h1 {
    float: right;
}

.fpbox {

    border: 2px solid #1f1f1f;
    box-shadow: 0 0 5px 0 #000000;
    color: #aaa9a9;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    background: rgba(0, 0, 0, 0.4);
}

.fpbox .heading {
    border-bottom: 1px solid #1f1f1f;
    font-family: 'Roboto',sans-serif;
    color: #ffffff;
    font-variant: small-caps;
    font-size: 132%;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

.heading a {
    color: white;
}

.fplink {
    display: inline-block;
    vertical-align: middle;

}

.fplinks {
    width:100%;
}

.perk-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
    background: rgba(166, 166, 166, 0.1);
}

.perk-image {
    width: 15%;
}



.perk-text {
    display: inline-block;
}

#fptopsection .fplink.image, #fpflexsection .fplink.image, #fpbottomsection .fplink.image {
    width: 100px;
    height: 100px;
}

.fplink .box {
    display: table;
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
}

.fplink .box .row {
    display: table-row;
}

.fplink.image .box .row .cell {
    width: 130px;
    height: 130px;
    vertical-align: bottom;
    overflow: hidden;
}


.fplink .box .row .cell {
    display: table-cell;
    position: relative;
    font-family: 'Roboto',sans-serif;
    border-radius: 5px;
    border: none;
    background: #19263e;
    box-shadow: 0 0 5px 0 #000000;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;;
    text-align: center;
    vertical-align: middle;
}

.fplink.image .box .row .cell .image img {
    width: 100px;
    height: 100px;
}

.fplink.image .box .row .cell .image input {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0;
}

.fplink.image .link a#selection {
    background: #19263e;
    background: rgba(25,38,62,0.5);
    font-size: 110%;
}

.fplink.image .link a {
    background: #19263e;
    background: rgba(25,38,62,0.5);
    font-size: 80%;
}

.fplink.image .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 75%;
    z-index: 0;
}

.fplink a {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1px 5px;
    color: white;
}

.fplink.image .image a {
    padding: 0;
}

.fplink.image a {
    z-index: 0;
}

.loadout-display {
    width: 50%;
}

.view-description {
    padding: 10px;

}

.perk-top {
    margin: 10%;
}

.perk-bottom {
    font-size: 95%;
    border-bottom: 1px solid #aaa9a9;
    padding-bottom: 10px;
}

.build {
    display: flex;
    flex-direction: column;
}

.link a {
    color: white;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

input#build-name {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0;
    width: 50%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0);
}

button#submit {
    -webkit-appearance: push-button;
    border-radius: 5px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border: 0;
    background: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    align-self: center;
    padding: 0 28px;
    background: grey;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    transition: all 150ms;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.perk-slot {
    display: flex;
    flex-direction: row;
}

.perk-container h4 {
    float: left;
    width: 25%;
}

.perk-container select {
    float: left;

}

.perk-selection {
    display: flex;
    flex-direction: column;
}

.perk-icon img {
    width: 120px;
    height: 120px;
    padding-bottom: 50%;
    padding-top: 50%;
}

.perk-icon {

}
.perk-description {
    width: 100%;
    text-align: center;
    margin: 5%;
}

.select-css {
    display: block;
    font-size: 90%;

    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 0.7;
    padding: .6em 1.4em .5em .8em;
    width: 25%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #aaa;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #000 0%,#000 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}

.select-css:focus {
    border-color: #222;
    color: #fff;
    outline: none;
}
.select-css option {
    font-weight:normal;
}

