* {
      margin: 0 auto;
}

.clear {
  clear: both;
}

html, body {
  margin: 0 auto;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: url(/images/survivors.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
}

.container {
  flex: auto 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}

.item {
  align-self: center;
  align-content: center;
}

/* Style the header with a grey background and some padding */
.header {
  position: fixed;
  left: 0;
  height: 60px;
  width: 100%;
  right: 0;
  padding: 2px;
  background-color: black;
  justify-content: center;
  top: 0;
  z-index: 3;
}

/* Style the header links */
.header-right a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  background-color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  justify-content: center;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.alert-box {
    border-style: solid;
    border-width: 1px;
    display: block;
    padding: 0.77778rem 1.33333rem 0.77778rem 0.77778rem;
    position: static;
    transition: opacity 300ms ease-out;
    background-color: #c71010;
    border-color: #0078a0;
    color: #FFFFFF;
}

.footer {
  position: fixed;
  left: 0;
  height: 60px;
  width: 100%;
  right: 0;
  padding: 2px;
  background-color: black;
  justify-content: center;
  bottom: 0;
  z-index: 3;
}

.footer-bottom p{
  padding: 4px;
  text-align: center;
  font-size: 10px;
}

.footer-top a {
  padding: 6px;
  float: left;
  color: white;
  text-align: center;
  background-color: black;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

/* The close button */
.closebtn {
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.common-form {
    border: 0;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 35px 20px 15px;
    background: rgba(0, 0, 0, 0.3);
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    color: #fbfbfb;
}

input {
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 0;
        color: white;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.7);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.login-button {
  -webkit-appearance: push-button;
  border-radius: 5px;
    height: 50px;
    display: inline-flex;
    align-items: center;
  align-self: center;
    justify-content: center;
    width: 90px;
    border: 0;
    background: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    padding: 0 28px;
    background: grey;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    transition: all 150ms;
}

 .signup-button {
  -webkit-appearance: push-button;
  border-radius: 5px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 0;
    background: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    padding: 0 28px;
    background: grey;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    transition: all 150ms;
}
.signup-form {
  text-align: center;
}

.other-links {
  box-sizing: border-box;
  padding: 0;
  text-align: center;
}

.other-links a {
  font-size: 14px;
  color: #cfd0d2;
}

.create-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.create-account {
  margin-right: 10%;
  width: 50%;
}

.create-account#account-features {
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.3);
}

.create-account ul {
  text-align: left;
  list-style-position: inside;
  float: right;
  padding-right: 5%;
}
.create-account h2 {
  text-align: left;
  padding: 2%;
  width: 60%;
}

div#cf-home {
  background: rgba(255, 255, 255, 0);
}
