<div class="container">
	<h1 class ="item">Login</h1><br>
	<div class="item" id="cf-home">
		<form action="/login" method="POST">
		<input type="text" name="username" placeholder="Username:">
		<input type="password" name="password" placeholder="Password:">
		<input type="submit" value="Submit">
			<div class="container">
	<h4 class="item">Don't have an account yet?</h4>
				<input class="login-button" type="submit" formaction="/signup" formmethod="get" value="Sign Up">
			</div>
		</form>
	</div>
	</div>