<div class="container">
<div class="create-wrapper">
<div class="create-account">
<h2>Create an account to get access to:</h2><br>
<ul>
  <li>Save character builds (no limit)</li>
  <li>Comment on custom player builds</li>
  <li>View other user profiles</li>
  <li>
</ul>
</div>
<div class="create-account">
<div class="common-form">
<form class="signup-form" method='POST' action="/signup">
  <input type="text" id="username" name="username" placeholder="Username"><br>
  <input type="text" id="email" name="email" placeholder="Email"><br>
  <input type="text" id="password" name="password" placeholder="Password"><br><br>
  <input class="signup-button" type="submit" value="Create Account">
</form>
</div>
</div>
</div>
</div>
