<div class="container">
<h1 class="item">Placeholder: User specific characters and content </h1>
<% @characters.each do |c|%>
<p><%= c.name %></p>
<p><%= c.bio %></p>
<%end%>
<a class="item" href="/signup">Sign Up</a>
<a class="item" href="/login">Log In</a>
</div>
