<div class="container-characters">
  <h2>How it works.</h2>
  <ol>
    <li>Select a character</li>
    <li>Add perks to your character's loadout.</li>
    <li>Save your build (create a free account to save your builds!)
    <li>Share your build for others to rate</li>
  </ol>
</div>
<div class="container-characters">
<% @characters.each do |c|%>
<div class="content-characters">
<%= c.name %>
</div>
<%end%>
</div>
