<div class="container">
  <h1 class="item">Welcome to the Fog</h1><br>
  <div class="item" id="cf-home">
  <form>
    <input class="login-button"  type="submit" formmethod="get" formaction="/login" value="Login">
    <input class="login-button" type="submit" formmethod="get" formaction="/signup" value="Sign Up">
  </form>
</div>
</div>


