<div class="container">
  <h1 class="item">Welcome to the Fog</h1><br>
  <div class="item" id="cf-home">
    <form>
      <div class="buttons">
        <button id="submit" formmethod="get" formaction="/login" value="Login">Login</button>
        <button id="submit" formmethod="get" formaction="/signup" value="Sign Up">Sign Up</button>
      </div>
    </form>
  </div>
</div>


