<div class="container">
  <h1 class="item">Welcome to the Fog </h1><br>
  <div class="common-form" id="cf-home">
  <form action="/login">
  <input class="login-button" type="submit" value="Log in">
</form><br>
</div>
<div class="other-links">
  <a class="item" href="/signup">Sign Up</a>
</div>
</div>

<div class="container">
  <h1 class="item">Build your characters, share your builds</h1>
</div>

<div class="container">
  <h1 class="item">Review, rate, and create custom perk builds</h1>
</div>
