

<div class="container">
<h1 class="item">Welcome to the Fog </h1>

<a class="item" href="/signup">Sign Up</a>
<a class="item" href="/login">Log In</a>
</div>

<div class="container">
  <h1 class="item">Create a profile</h1>
  <a class="item">Link to create</a>
  <p class="item">Overview of feat.</p>
</div>

<div class="container">
  <h1 class="item">Build your characters, share your builds</h1>
</div>

<div class="container">
  <h1 class="item">Review, rate, and create custom perk builds</h1>
</div>
