<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>DBD Character Builder</title>
</head>
<body>
    <header>Dead by Daylight Character Builder</header>
    <main>
      <h1>Initial Test</h1>
    </main>
    <footer>
      <h5>Content is available under <a class="external" rel="nofollow" href="//creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> unless otherwise noted.<br>Game content and materials are trademarks and copyrights of their respective publisher and its licensors.  All rights reserved.<br>
          This site is not affiliated with the game publisher.</h5>
    </footer>
  </body>
</html>
