<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/responsive.css">
  <script type="text/javascript" src="/js/jquery-3.4.1.js?v=1"></script>
  <title>DBD Character Builder</title>
</head>
  <body>
  <div class="header">
    <a href="/" class="logo"><img src="/images/logo.jpg" style="width:75px; height:40px"></a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/user_builds">My Builds</a>
      <a href="/build">Create Build</a>
      <a href="/characters">Characters</a>
      <a href="/perks">Perks</a>
      <%if logged_in? %>
        <<a href="/logout">Logout</a>
      <%end %>
    </div>
  </div>

  <div class="wrapper">
    <% flash.keys.each do |type| %>
    <div data-alert class="alert-box" role="alert">
      <%= flash[type] %>
      <a href="#" class="closebtn" onclick="this.parentElement.style.display='none';">&times;</a>
    </div>
    <% end %>
    <div class="content">
    <%= yield %>
    </div>
  </div>

  <div class="footer">
    <div class="footer-top">
      <a href="#">Terms of Use</a>
      <a href="#">Privacy Policy</a>
      <a href="#">About</a>
    </div>
  <div class="footer-bottom">
    <p>Content is available under <a class="external" target="blank" rel="nofollow" href="//creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> unless otherwise noted.<br>Game content and materials are trademarks and copyrights of their respective publisher and its licensors.  All rights reserved.<br>
        This site is not affiliated with the game publisher.</p>
  </div>
</div>
</body>
</html>
